* {
  background-color: darkgrey;
}

body {
  margin-left: 50px;
}

h1 {
  font-size: 3vw;
  padding: 20px;
  font-family: 'Rubik Moonrocks', cursive;
}


figure {
  width: 70%;
  background-color: red;
  padding: 30px;
}

figcaption {
  background-color: inherit;
}

img {
  width: 100%
}
