body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #444;
  height: 100px;
  margin-bottom: 30px;
}

nav {
  width: 960px;
  margin: auto;

}

nav img {
  float: left;
  margin-top: 15px;
}



nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: #ddd
}

main {
  width: 960px;
  margin: auto;
}

main ul {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}


section {
  display: flex;
  justify-content: space-between;
}


section article p {
  height: 300px;
  overflow: auto;
}

button {
  transition: 350ms;
}

button:hover {
  background-color: aqua;
}

footer {
  height: 150px;
  background-color: #444;
}
